src/main/mule/implementations/implementation-sys-mongodb-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="627bf28a-1572-45f2-b995-86bd395d9f9a" >
		<mongo:connection-string-connection connectionString="mongodb+srv://akbarkhan:DveydpH3df7XTYby@videogames.thglcfx.mongodb.net/video-games" />
	</mongo:config>
	<flow name="get-sys-mongodb-apiFlow" doc:id="905c5013-856e-4154-bad9-8a0baa76ce08" >
		<logger level="INFO" doc:name="Logger" doc:id="0e70d9af-1c10-4347-9547-39b4c198652d" message='#["Hello MongoDB"]'/>
		<mongo:find-documents collectionName="games" fields="," doc:name="Find documents" doc:id="6ffbcbbb-ad1f-4064-b066-7fa64b8cfcd7" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[output application/json
var qp = attributes.queryParams
---

{
	(released: "\$gte": qp.released) if(qp.released?),
	("genres.name": qp.genres) if(qp.genres?),
	("platforms.platform.name": qp.platforms) if(qp.platforms?),
	("stores.store.name": qp.stores) if(qp.stores?)
}]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="2ba81211-3b5b-41c8-a5e6-85f8d0a47e1f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
