src/main/mule/sys-mongodb-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="sys-mongodb-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sys-mongodb-api-config" api="resource::b2ea8c92-3f69-42e6-8c9f-9f73a3e7645d:sys-mongodb-api:1.0.0:raml:zip:sys-mongodb-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sys-mongodb-api-main">
        <http:listener config-ref="sys-mongodb-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sys-mongodb-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\games:sys-mongodb-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 21235,
    slug: "borderlands-3",
    name: "Borderlands 3",
    playtime: 9,
    platforms: [
      {
        platform: {
          id: 4,
          name: "PC",
          slug: "pc"
        }
      }, 
      {
        platform: {
          id: 18,
          name: "PlayStation 4",
          slug: "playstation4"
        }
      }
    ],
    stores: [
      {
        store: {
          id: 1,
          name: "Steam",
          slug: "steam"
        }
      }, 
      {
        store: {
          id: 3,
          name: "PlayStation Store",
          slug: "playstation-store"
        }
      }
    ],
    released: "2019-09-13",
    tba: false,
    background_image: "https://media.rawg.io/media/games/9f1/9f1891779cb20f44de93cef33b067e50.jpg",
    rating: 3.9,
    rating_top: 4,
    ratings: [
      {
        id: 4,
        title: "recommended",
        count: 393,
        percent: 50.97
      }
    ],
    ratings_count: 756,
    reviews_text_count: 12,
    added: 4976,
    added_by_status: {
      yet: 369,
      owned: 3146,
      beaten: 480,
      toplay: 548,
      dropped: 243,
      playing: 190
    },
    metacritic: 83,
    suggestions_count: 915,
    updated: "2023-03-07T20:51:57",
    score: null,
    clip: null,
    tags: [
      {
        id: 31,
        name: "Singleplayer",
        slug: "singleplayer",
        language: "eng",
        games_count: 207421,
        image_background: "https://media.rawg.io/media/games/120/1201a40e4364557b124392ee50317b99.jpg"
      }, 
      {
        id: 42396,
        name: "Для одного игрока",
        slug: "dlia-odnogo-igroka",
        language: "rus",
        games_count: 31845,
        image_background: "https://media.rawg.io/media/games/fc1/fc1307a2774506b5bd65d7e8424664a7.jpg"
      }
    ],
    esrb_rating: {
      id: 4,
      name: "Mature",
      slug: "mature",
      name_en: "Mature",
      name_ru: "С 17 лет"
    },
    user_game: null,
    reviews_count: 771,
    saturated_color: "0f0f0f",
    dominant_color: "0f0f0f",
    short_screenshots: [
      {
        id: -1,
        image: "https://media.rawg.io/media/games/9f1/9f1891779cb20f44de93cef33b067e50.jpg"
      }, 
      {
        id: 2597139,
        image: "https://media.rawg.io/media/screenshots/85f/85fa0742541492cb4b2562311d455918.jpg"
      }
    ],
    parent_platforms: [
      {
        platform: {
          id: 2,
          name: "PlayStation",
          slug: "playstation"
        }
      }, 
      {
        platform: {
          id: 3,
          name: "Xbox",
          slug: "xbox"
        }
      }
    ],
    genres: [
      {
        id: 3,
        name: "Adventure",
        slug: "adventure"
      }, 
      {
        id: 4,
        name: "Action",
        slug: "action"
      }, 
      {
        id: 5,
        name: "RPG",
        slug: "role-playing-games-rpg"
      }
    ]
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\games:application\json:sys-mongodb-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
